.main ul{
    & li{
        display:inline-block;
        & a{
            padding: 3px 8px;
            &.selected{
                background-color: $maincolor;
                color:#fff;
            }
            &:hover{
                text-decoration: none;
                padding-bottom: 0px;
                border-bottom: 3px solid lighten($maincolor,20%);
            }
        }
    }
}