.title{
    margin:0;
    padding: 18px 0 0 3px;
}
#tagline{
    color:#fff;
    background-color:$maincolor;
    font-weight:800;
    padding:3px 6px;
}
.main ul{
    & li{
        display:inline-block;
        & a{
            padding: 3px 8px;
            &.selected{
                background-color: $maincolor;
                color:#fff;
            }
            &:hover{
                text-decoration: none;
                padding-bottom: 0px;
                border-bottom: 3px solid lighten($maincolor,20%);
            }
        }
    }
}