body{
    border-top: 5px solid $maincolor;   
}
#main{
    padding:0;
}
.sub{
    font-size:0.7em;   
}
/* links */
a{
    font-weight: 800;
    color:$maincolor;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
/* lists */
ul{
    list-style-type: none;
    padding:0;
}